<%= link_to 'Start a New Story', new_story_path %>


<% if @stories.any? %>
  <ul class="nav nav-pills nav-stacked">
    <% @stories.each do |story| %>
      <li><%= link_to story.title, story %></li>
    <% end %>
  </ul>
<% end %>
