<div class="media">
  <div class="media-left">
    <%= image_tag story.image.filename, class: 'media-object story-image' %>
  </div>
  <div class="media-body">
    <h3 class="media-heading title"><%= story.title %></h3>
    <blockquote>
      <p >
        <%= story.first_sentence.content %> ...
      </p>
      <footer>
        <%= story.author %>
      </footer>
    </blockquote>
  </div>
</div>
